/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
.DS_Store
/.idea
/.vscode
/.run
docker_compose/elastic-local/.env
docker_compose/elastic-local/certs
docker_compose/elastic-local/esdata01
.golangci.yml
sandbox

/.o3/k8s/values_local.yaml
/tests/cmd/allure-results/
/.env
/.o3/k8s/test_values_local.yml

/tmp/
Readme.md

__debug_*

.continue